{% extends 'index.html' %}

{% block content %}
<div class="container mt-5">
        <h1 class="display-4">О нас</h1>
        <hr>
        <p>
            АСУ (Администратор сетей, техник-электроник, специалист сопровождение ПО) — это команда профессионалов,
            специализирующаяся на предоставлении высококачественных услуг в области администрирования сетей,
            ремонта электронных устройств и поддержки программного обеспечения.
        </p>

        <h2>Наша миссия</h2>
        <p>
            Наша миссия заключается в том, чтобы обеспечить надежную и эффективную работу ваших информационных систем.
            Мы стремимся к тому, чтобы ваши технологии работали без сбоев, позволяя вам сосредоточиться на вашей работе.
        </p>

        <h2>Наши ценности</h2>
        <ul>
            <li><strong>Профессионализм:</strong> Мы гордимся высоким уровнем квалификации нашей команды.</li>
            <li><strong>Инновации:</strong> Мы постоянно следим за последними тенденциями и технологиями.</li>
            <li><strong>Надежность:</strong> Мы обеспечиваем стабильность и безопасность ваших систем.</li>
        </ul>

        <h2>Наша команда</h2>
        <p>
            Наша команда состоит из опытных специалистов с многолетним стажем работы в различных областях IT.
            Мы готовы предложить вам индивидуальные решения, соответствующие вашим потребностям.
        </p>

        <h2>Контакты</h2>
        <p>
            Если вы хотите узнать больше о наших услугах или задать вопросы, свяжитесь с нами:
        </p>
        <ul>
            <li>Телефон: +375 (29) 138-76-01</li>
            <li>Email: <a href="otdelasu@soligorskcrb.by">asucrb@soligorskcrb.by</a></li>
<!--            <li>Онлайн-чат: доступен на нашем сайте</li>-->
        </ul>
</div>
{% endblock %}
