{% extends 'index.html' %}
{% load static %}
{% block content %}
<a href="{% url 'arm_create' %}" class="btn btn-outline-primary"><i class="fas fa-info-circle"></i> Добавить запись</a>
  <table id="myTable" class="display">
    <thead>
        <tr>
            <th>АРМ</th>
            <th>IP-адрес/а</th>
            <th>Подразделение</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Время добавления</th>
            <th>Время обновления</th>
            <th>Действия</th>

        </tr>
    </thead>
    <tbody>
    {% for arm in arm_list %}
        <tr>
            <td>{{ arm.num_arm }}</td>
            <td>{{ arm.ip_addr }}</td>
            <td>{{ arm.department }}</td>
            <td>{{ arm.description }}</td>
            <td>{{ arm.author }}</td>
            <td>{{ arm.time_create }}</td>
            <td>{{ arm.time_update }}</td>
            <td class="btn group">
                <a href="{% url 'arm_update' arm.slug %}"  title="Редактировать"><i class="fas fa-edit"><img class="btn-edit" width="24px;" src="{% static 'buttons/edit.png' %}"></i></a>
                <a href="{% url 'arm_delete' arm.slug %}" title="Удалить"><i class="fas fa-trash-alt"><img class="btn-edit" width="24px;" src="{% static 'buttons/delete.png' %}"></i></a>
                <a href="{% url 'arm_detail' arm.slug %}" title="Подробнее"><i class="fas fa-info-circle"><img class="btn-edit" width="24px;" src="{% static 'buttons/view.png' %}"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
