{% extends 'index.html' %}

{% block content %}
<a href="{% url 'arm_create' %}" class="btn btn-outline-primary"><i class="fas fa-info-circle"></i> Добавить запись</a>
  <table id="myTable" class="display">
    <thead>
        <tr>
            <th>АРМ</th>
            <th>IP-адрес/а</th>
            <th>Подразделение</th>
            <th>Описание</th>
            <th>Автор</th>
            <th>Время добавления</th>
            <th>Время обновления</th>
            <th>Действия</th>

        </tr>
    </thead>
    <tbody>
    {% for arm in arm_list %}
        <tr>
            <td>{{ arm.num_arm }}</td>
            <td>{{ arm.ip_addr }}</td>
            <td>{{ arm.department }}</td>
            <td>{{ arm.description }}</td>
            <td>{{ arm.author }}</td>
            <td>{{ arm.time_create }}</td>
            <td>{{ arm.time_update }}</td>
            <td class="btn-group">
                <a href="{% url 'arm_update' arm.slug %}" class="btn btn-outline-primary"><i class="fas fa-edit"></i> Редактировать</a>
                <a href="{% url 'arm_delete' arm.slug %}" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i> Удалить</a>
                <a href="{% url 'arm_detail' arm.slug %}" class="btn btn-outline-info"><i class="fas fa-info-circle"></i> Подробнее</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
